/* Styles for PersonCompanyFilter.vue */

.person-company-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.person-section,
.company-section {
  flex: 1 1 0;
  min-height: 0;
  max-height: 50%;
  display: flex;
  flex-direction: column;
}

.section-padding-bottom {
  padding-bottom: 4px;
}

.section-padding-top {
  padding-top: 4px;
}

.vertical-item {
  align-items: center;
  display: flex;
}

.selected {
  background-color: #e3f2fd;
}

.checkbox-no-pointer {
  pointer-events: none;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}

.margin-4-0 {
  margin: 4px 0;
}

.mr-1 {
  margin-right: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
