.sapling-error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #343a40;
  font-family: Arial, sans-serif;
}

.sapling-error-page h1 {
  font-size: 6rem;
  margin: 0;
}

.sapling-error-page p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.sapling-error-page a {
  text-decoration: none;
  font-size: 1.2rem;
}

.sapling-error-page a:hover {
  text-decoration: underline;
}