.sapling-fileview-fullheight {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sapling-fileview-content {
  height: calc(100dvh - 230px);
  min-height: calc(100dvh - 230px);
  display: flex;
  flex-direction: column;
}