.child-row-table th {
  text-align: left;
  padding: 0.3em 1em 0.3em 0;
}
.child-row-table {
  border-collapse: collapse;
  margin-top: 0.5em;
}
.entity-expansion-title {
  min-height: 36px;
  max-height: 36px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}