@import './SaplingKpiWidget.css';

.sapling-kpi-item__value-wrap {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.sapling-kpi-item__value {
  margin: 0;
  font-size: clamp(2.1rem, 3vw, 3rem);
  line-height: 1;
}