.sapling-dashboard-kpi-scroll {
  flex: 1 1 0;
  min-height: 0;
  max-height: calc(100dvh - 171px);
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100dvh - 171px);
}

.sapling-add-kpi-card {
  min-height: 200px;
  max-height: 200px;
  border-style: dashed;
  cursor: pointer;
  transition: 0.2s;
  max-width: 100%;
  width: 100%;
}

.sapling-add-kpi-card:hover {
  background: #e0e0e01a;
}