.sapling-navigation-drawer {
  pointer-events: auto;
}

.sapling-drawer-edge {
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  border-left: 1px solid rgba(255,255,255,0.1);
  border-right: 1px solid rgba(255,255,255,0.1);
  transition: 0.2s;
}

.sapling-drawer-edge:hover {
  background-color: #e0e0e01a;
}

.sapling-drawer-content {
  width: calc(100% - 34px);
  margin-left: 34px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sapling-drawer-closed .sapling-drawer-content {
  display: none;
}

.sapling-drawer-open .sapling-drawer-content {
  display: flex;
}

.sapling-drawer-content {
  transition: opacity 0.2s;
}

.sapling-drawer-content[style*="display: none"] {
  opacity: 0;
}


.sapling-drawer-content[style*="display: flex"] {
  opacity: 1;
}