/* Style for selected row */
.selected-row {
  background-color: #e0e0e01a;
}

/* Style for multi-selected rows */
.multi-selected-row {
  background-color: #e0e0e01a;
}

/* Right-align actions cell */
.actions-cell {
  text-align: right;
}

/* Set max-height for the table to fit within the viewport */
.sapling-table {
  max-height: calc(100dvh - 193px);
}