.sapling-sideboard {
  border-left: 1px solid #e0e0e0;
  margin-right: 0 !important;
  padding-right: 0 !important;
  right: 0;
  height: 100%;
  max-height: 100%;
  min-height: 0;
}
.sapling-sideboard-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sapling-favorite-item {
  cursor: pointer;
}

.v-slide-group {
  max-height: 44px !important;
}
