.messages-float {
  position: fixed;
  bottom: 64px;
  left: 24px;
  right: 24px;
  width: calc(100vw - 48px);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
}
.message {
  width: 100%;
  margin-bottom: 8px;
  pointer-events: auto;
}