.sapling-document-header {
  width: 100%;
}

.sapling-document-title {
  font-size: 1.2rem;
}

.sapling-document-download-btn {
  min-width: 0 !important;
  width: auto !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}