.sapling-inbox-date {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.1em;
}
.sapling-inbox-title {
  font-size: 1rem;
  font-weight: bold;
}
.sapling-inbox-subtitle {
  font-size: 0.95rem;
  color: #555;
}