/* Make the accordion scrollable */
.sapling-accordion-scroll-wrapper {
  max-height: 100vh;
  overflow-y: auto;
}
.sapling-person-name {
  flex: 1;
  font-size: 0.97em;
}
.sapling-vertical-item {
  display: flex;
  align-items: center;
  padding: 4px 10px 4px 4px;
  cursor: pointer;
  transition: 0.2s;
}

.sapling-vertical-item.selected {
  background: #e0e0e01a;
}

.sapling-vertical-item:hover {
  background: #e0e0e01a;
}