@import './SaplingKpiWidget.css';

.sapling-kpi-sparkline__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--sapling-gap-xs);
}

.sapling-kpi-sparkline__chart {
  max-height: 120px;
}

.sapling-kpi-sparkline__meta {
  display: flex;
  justify-content: space-between;
  gap: var(--sapling-gap-md);
  flex-wrap: wrap;
}